<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Negative_Testcases.Login_negative_testcases"/>
      <class name="Enterprise_Codeclouds.Project.Enterprise.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
